// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  margin: 0;
  font-family: sans-serif;
}

.details {
  height: 100px;
  padding: 10px;
  color: #efdede;
  position: absolute;
  z-index: 111;
  display: block;
  margin-top: 50px;
  margin-left: 50px;
  line-height: 1.5rem;
}

.loading {
  text-align: center;
  height: 100%;
  align-items: center;
  display: flex;
}